asgiref
certifi
crispy-bootstrap5
distlib
Django
django-crispy-forms
django-environ
filelock
packaging
pillow
pipenv
platformdirs
psycopg2
PythonTurtle
setuptools
sqlparse
tzdata
virtualenv
dj_database_url